Makefile.local
*.o
cmsfg
counts
1g-threshold
1g-prune
g1g-sents
g2g
g2gr
g2gkn
iterate
iterate-sents
iterate12
llh
segposts
segtext
strscore
substrings
runtests
.cproject
.project
.pydevproject
.idea
.settings*
