Makefile.local
*.o
cmsfg
counts
1g-threshold
1g-prune
1g-threshold-sents
1g-prune-sents
2g-prune
2g-prune-kn
2g-prune-simple
iterate
iterate-sents
iterate12
llh
segposts
segtext
strscore
substrings
runtests
.cproject
.project
.pydevproject
.idea
.settings*
